html, body {
	height: 100%;
	margin: 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: 500;
	margin-bottom:0;
}

p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 14px;
	line-height:20px;
}

a.one {
	font-family: 'Roboto Slab';
	font-size: 18px;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
}

a.one:hover, a.one:active {
	font-weight: 500;
	color: #FFF;
	text-decoration: none;
}

a.two {
	font-family: 'Roboto Slab';
	font-size: 14px;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}

a.two:hover, a.two:active {
	font-weight: 500;
	color: #000;
	text-decoration: none;
}

#hero {
	background-image: url("images/bg.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	flex-flow: row wrap;
	width: 1140px;
	margin: 0 auto;
	min-height: calc(100vh - 50px);
}

.header {
	display: flex;
	margin-top: 30px;
	width: 100%;

}

.navigation {
	list-style: none;
	display: inline-flex;
	margin: 25px 0 0 0;
	padding: 0;
	width:497px;
	justify-content: space-between;

}

.navigation a.one {
	list-style-type: none;
	font-size:16px;
	color: #FFF;
	text-decoration: none;
}

.navigation a.one:hover {
	font-weight:500;
	color: #FFF;
	text-decoration: none;
}

.navigation a.two {
	list-style-type: none;
	font-size:16px;
	color: #000;
	text-decoration: none;
}

.navigation a.two:hover {
	font-weight:500;
	color: #000;
	text-decoration: none;
}

.border {
	height: 10px;
	border-bottom:1px solid white;
	margin: 25px 30px 0 30px;
	width: 450px;
}

.border-black {
	height: 10px;
	border-bottom:1px solid black;
	margin: 25px 30px 0 30px;
	width: 450px;
}

.headline {
	margin:0;
	width:484px;
}

.lead {
	font-family: 'Montserrat';
	font-size: 70px;
	line-height:72px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
}

.subtitle {
	font-family: 'Roboto Slab';
	font-size: 30px;
	font-weight: 300;
	text-transform: lowercase;

}

.menu {
	margin-top:60px;
	width:566px;
}

.products {
	list-style: none;
	width: 1140px;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0 0 0;
}

.thumbnail {
	width: 360px;
	height: 360px;
	margin: 0 30px 30px 0;
}

.thumbnail.right {
	margin-right: 0;
}

.footer {
	font-family: 'Roboto Slab', serif;
	font-size:12px;
	line-height:50px;
	font-weight:300;
	height: 50px;
	width: 100%;
	margin:0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
}

@media all and (min-width: 800px) {
  .header    { order: 1; }
  .headline  { order: 2; } 
  .menu      { order: 3; } 
  .products  { order: 4; } 
  .footer    { order: 5; }
}