html, body {
	height: 100%;
	margin: 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: 500;
	margin-bottom:0;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 400;
}

p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 14px;
	line-height:20px;
}

.largetext {
	font-size: 18px;
	line-height: 24px;
}

a.one {
	font-family: 'Roboto Slab';
	font-size: 18px;
	font-weight: 300;
	color: #FFF;
	text-decoration: none;
}

a.one:hover, a.one:active {
	font-weight: 500;
	color: #FFF;
	text-decoration: none;
}

a.two {
	font-family: 'Roboto Slab';
	font-size: 14px;
	font-weight: 300;
	color: #000;
	text-decoration: none;
}

a.two:hover, a.two:active {
	font-weight: 500;
	color: #000;
	text-decoration: none;
}

.logo {
	max-width: 100px;
	height: auto;
}

#hero {
	background-image: url("images/bg.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	flex-flow: row wrap;
	width: 1140px;
	margin: 0 auto;
	min-height: calc(100vh - 50px);
}

.header {
	display: flex;
	margin-top: 30px;
	width: 100%;
}

.navigation {
	list-style: none;
	display: inline-flex;
	margin: 13px 0 0 0;
	padding: 0;
	width:497px;
	justify-content: space-between;

}

.navigation a.one {
	list-style-type: none;
	font-size:16px;
	color: #FFF;
	text-decoration: none;
}

.navigation a.one:hover {
	font-weight:500;
	color: #FFF;
	text-decoration: none;
}

.navigation a.two {
	list-style-type: none;
	font-size:16px;
	color: #000;
	text-decoration: none;
}

.navigation a.two:hover {
	font-weight:500;
	color: #000;
	text-decoration: none;
}

.border {
	height: 10px;
	border-bottom:1px solid white;
	margin: 15px 30px 0 30px;
	width: 500px;
}

.border.black {
	border-bottom:1px solid black;
}

.headline {
	margin:0;
	width:484px;
}

.lead {
	font-family: 'Montserrat';
	font-size: 70px;
	line-height:72px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
}

.subtitle {
	font-family: 'Roboto Slab';
	font-size: 30px;
	font-weight: 300;
	text-transform: lowercase;

}

.menu {
	margin-top:60px;
	width:566px;
}

.products {
	list-style: none;
	width: 1140px;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0 0 0;
}

.thumbnail {
	width: 360px;
	height: 360px;
	margin: 0 30px 30px 0;
}

.thumbnail.right {
	margin-right: 0;
}

.overview {
	margin-top: 60px;
	display: flex;
}

.preview {
	width:652px;
	height:652px;
}

.description {
	width:457px;
	margin-left: 30px;
}

.price {
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 400;
}

.border.long {
	margin: 60px 0 60px 0;
	width: 1140px;
	border-bottom:1px solid black;

}

.border.short {
	margin:	30px 0 30px 0;
	width: 457px;
	border-bottom:1px solid black;
}

.primary {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: black;
	border: none;
	background-color: white;
}

.secondary {
	background-color: black;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: white;
	width: 165px;
	height: 38px;
	border:none;
	float: right;
}

.secondary:hover {
	border: 1px solid black;
	background-color: white;
	color: black;
}

.quantity {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight:300;
	padding: 0 10px 0 10px;
}

.footer {
	font-family: 'Roboto Slab', serif;
	font-size:12px;
	line-height:50px;
	font-weight:300;
	height: 50px;
	width: 100%;
	margin:0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
}

@media all and (min-width: 800px) {
  .header    { order: 1; }
  .headline  { order: 2; } 
  .menu      { order: 3; } 
  .products  { order: 4; }
  .overview  { order: 5; }
  .border-long   { order: 6; }
  .more      { order: 7; }
  .footer    { order: 8; }
}